# Use direnv (https://direnv.net) to auto load environment variables and activate virtualenv upon entering this project directory

# Set environment variables
set -o allexport; source .env.local; set +o allexport
#set -a; . .env; set +a